# Compiled stuff #
###################
*.dll
*.exe
*.o
*.so
*.a
*.dylib
*.dylib.??
bin/
lib/
so/
build/
src/ptypes_test
src/ptypesn_test
src/stmtest.txt
wshare/wshare

# OS generated waste #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Packages #
############
*.dmg
*.gz
*.iso
*.tar
*.zip

# IDE generated stuff #
#######################
PTypes.xcodeproj/project.xcworkspace
PTypes.xcodeproj/xcuserdata/
